# Push Bindings
bind left:ctrl;cmd;shift   push left
bind right:ctrl;cmd;shift  push right
bind up:ctrl;cmd;shift     push up
bind down:ctrl;cmd;shift   push down

bind left:ctrl;cmd   push left  bar-resize:screenSizeX*3/4
bind right:ctrl;cmd  push right bar-resize:screenSizeX*3/4
bind up:ctrl;cmd     push up    bar-resize:screenSizeY
bind down:ctrl;cmd   push down  bar-resize:screenSizeY/3

bind up:ctrl;alt     nudge 	+0	-screenSizeY/3
bind down:ctrl;alt   nudge      +0	+screenSizeY/3
